body {
    font-family: system-ui, sans-serif;
}

/* raster rond het bord: 3x3 */
.bord-wrapper {
    display: grid;
    grid-template-columns: 20px 400px 20px;
    grid-template-rows: 20px 400px 20px;
    justify-content: center;
    margin-top: 40px;
}

/* het bord zelf in het middenvak */
#schaakbord {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    #schaakbord {
    border: 2px solid #111;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
    grid-column: 2;
    grid-row: 2;
}

/* velden en kleuren */
.vak {
    width: 50px;
    height: 50px;
}

.wit { background-color: #bfc3c6; }   /* licht veld: koel lichtgrijs */
.zwart { background-color: #4a5563; } /* donker veld: donkergrijs/blauw */


.wit:hover { background-color: #eedcc0; }
.zwart:hover { background-color: #c89676; }

/* letters boven/onder precies boven elk veld */
.files-top,
.files-bottom {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-size: 13px;
    color: #555;
    text-align: center;
    line-height: 20px;
}

.files-top {
    grid-column: 2;
    grid-row: 1;
}

.files-bottom {
    grid-column: 2;
    grid-row: 3;
}

/* cijfers links/rechts naast elke rij */
.ranks-left,
.ranks-right {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    font-size: 13px;
    color: #555;
    align-items: center;
}

.ranks-left {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
    padding-right: 3px;
}

.ranks-right {
    grid-column: 3;
    grid-row: 2;
    text-align: left;
    padding-left: 6px;
}
.vak {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

/* stuk-kleuren */
.wit-stuk {
    color: #f9fafb;  /* bijna wit */
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
}

.zwart-stuk {
    color: #111827;  /* bijna zwart */
    text-shadow: 0 0 2px rgba(255,255,255,0.4);
}
.vak.geselecteerd {
    outline: 3px solid #facc15;   /* gele rand */
    outline-offset: -3px;
}
